<div class="container mt-4">
    <mat-card-header class = "mb-5">
        <mat-card-title class="name">Welcome {{ userName }}</mat-card-title>
    </mat-card-header>
    <mat-card class="welcome-card">
      <mat-card-content>
        <p class="mat-body">Introducing a task management system on your website empowers users to efficiently organize and oversee their tasks. Our platform offers a user-friendly interface designed to streamline task creation, scheduling, and monitoring. Users can effortlessly create new tasks, specifying details such as titles, descriptions, due dates, priorities, and statuses.</p>
  
        <p class="mat-body">Our system ensures seamless navigation and accessibility across devices, ensuring a consistent user experience. It supports real-time updates, allowing users to track task progress and make adjustments as needed. Tasks can be categorized based on priority and status, helping users prioritize their workload effectively.</p>
      </mat-card-content>
    </mat-card>
  </div>
  